<div>

  <!-- <form id="contactForm" action="https://formspree.io/{{site.email}}" method="post" novalidate netlify> -->
  <form name="contact" id="contact-form" method="post" role="form" netlify>
    <fieldset>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" placeholder="Your Name" required="required">
      <label for="email">Email Address: </label>
      <input type="email" id="email" name="email" placeholder="Your Email Address" required="required">
      <label for="subject">Subject: </label>
      <textarea id="subject" name="subject" placeholder="Questions? Inquiries?" style="height:170px" required="required"></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </fieldset>
  </form>
</div>
