<div>
  <form name="contact" id="contactForm" method="post" role="form" netlify>


      <div class="form__input">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required="required">
      </div>

      <div class="form__input input half">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"  required="required">
      </div>

      <div class="form__input">
        <label for="subject">Subject</label>
        <textarea id="message" name="subject" rows="7" required="required"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>


  </form>
</div>

